.current-weather {
  margin: .5em;
}

span {
  font-weight: bold;
}

.sunny,
.normal, 
.cold {
  background-color: rgb(249, 252, 255, .7);
  border-radius: 10px;
  margin: .5em;
}

.sunny {
  background-color: #ffffaa;
}

.normal {
  background-color: #d7e2ef;
}

.cold {
  background-color: #94adcc;
}

.ten-day-cont {
  background-color: #bccde2;
  border-radius: 10px;
  margin: .5em;
}

/* .seven-hour-cont {
  justify-content: space-around;
  overflow: scroll;
} */

.day {
  background-color: rgb(249, 252, 255, .7);
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-between;
  margin: .5em;
}

.day-day, 
.day-highlow,
.day-cond  {
  flex: 1;
}

p, img {
  padding: 0 .5rem 0 .5rem;
}

.weekday {
  font-weight: bold;
}